// size & breakpoints
$max-width: 1160px;
$mobile-width: 768px;

// font size
$font-size-s: 12px;
$font-size-m: 16px;

// color
$color-primary-black: #000;
$color-secondary-black: #333;
$color-primary-white: #FFF;
$color-primary-gray: #7A7A7A;
$color-secondary-gray: #9E9FA4;

// background
$background-primary-black: #111;
$background-primary-white: #FFF;

// button
$btn-primary: #09A858;
$btn-primary-hover: #00652a;

// transition
$transition-duration: 0.2s;