@use 'src/styles/variables' as *;

.password-generator {
  width: 100%;
  display: flex;
  gap: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__input {
    width: 100%;
    display: flex;
    justify-content: center;

    .input-password {
      all: unset;
      width: 100%;
      flex-grow: 1;
      background: $background-primary-white;
      padding: 0 24px;
      color: $color-secondary-black;
      font-size: 20px;
      line-height: 24px;
      font-weight: 700;
    }

    .btn-copy-password {
      all: unset;
      background: $btn-primary;
      cursor: pointer;
      font-size: 16px;
      font-weight: 700;
      line-height: 28px;
      padding: 11px 36px;
      transition: $transition-duration;
      flex-shrink: 0;

      &:hover {
        background: $btn-primary-hover;
      }
    }

    .btn-generate {
      all: unset;
      background: $background-primary-white;
      display: flex;
      align-items: center;
      padding: 0 24px;
      cursor: pointer;
      transition: $transition-duration;

      &:hover {
        opacity: 0.8;
      }

      img {
        height: 24px;
        width: 24px;
      }
    }
  }


  &__options {
    display: flex;
    gap: 26px;

    .option {
      cursor: pointer;
      display: flex;
      align-items: center;

      input {
        height: 12px;
        width: 12px;
      }

      span {
        font-size: $font-size-s;
        line-height: 22px;
        margin: 0 9px;
      }
    }
  }
}