@use "src/styles" as *;

.password-generator {
  width: 100%;
  display: flex;
  gap: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__input {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    @include desktop {
      flex-direction: row;
      gap: unset;
    }

    .input-password {
      all: unset;
      box-sizing: border-box;
      height: 50px;
      width: 100%;
      background: $background-primary-white;
      padding: 0 24px;
      color: $color-secondary-black;
      font-size: 20px;
      line-height: 24px;
      font-weight: 700;
      font-family: Roboto, sans-serif;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .controls {
      flex-shrink: 0;
      display: flex;
      flex-direction: row;
      
      @include mobile {
        :nth-child(1) {
          flex-basis: 20%;
        }

        :nth-child(2) {
          flex-basis: 80%;
        }
      }
    }

    .btn-copy-password {
      all: unset;
      background: $btn-primary;
      cursor: pointer;
      font-family: Roboto, sans-serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 28px;
      padding: 11px 36px;
      transition: $transition-duration;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;


      &:hover {
        background: $btn-primary-hover;
      }
    }

    .btn-generate {
      all: unset;
      background: $background-primary-white;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 24px;
      cursor: pointer;
      transition: $transition-duration;

      &:hover {
        opacity: 0.8;
      }

      img {
        height: 24px;
        width: 24px;
      }
    }
  }

  &__options {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;


    @include desktop {
      flex-direction: row;
      align-items: unset;
      justify-content: center;
      gap: 26px;
    }

    .option {
      cursor: pointer;
      display: flex;
      align-items: center;

      input {
        height: 12px;
        width: 12px;
      }

      span {
        font-size: $font-size-s;
        line-height: 22px;
        margin: 0 9px;
      }
    }
  }
}